# Module 2 - Data structures

### Why consider structure in data?

Structure in data helps us make meaning from that data and to be consistent and precise in using it.

When data is structured, then we can program computational systems to compute using that data as long as the data adheres to the defined structure.

### Structured data

For example, the idea of a spreadsheet allows us to make infer relationships between the cells based on rows and columns. This was possible with even the very first spreadsheets.

<a title="By User:Gortu (apple2history.org) [Public domain], via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File%3AVisicalc.png"><img width="512" alt="Visicalc" src="https://upload.wikimedia.org/wikipedia/commons/7/7a/Visicalc.png"/></a>

*By User:Gortu (apple2history.org) \[Public domain\], via Wikimedia Commons*

Even in this very simple example, we can make sense of this data, and because of the structure, the computer can work with the data, like calculating the costs for each row, calculating a subtotal, the tax, and the total. If the data in this spreadsheet was unstructured (for example written on a piece of paper), the computer would not be able to work with it.

Most structured data today is found in relational datatabase management systems (RDBMS), or commonly just refered to as databases. The structure is one of tables (like a spreadsheet) and relationships between them, but relating particular fields or columns in one table with those in another.

<a data-flickr-embed="true"  href="https://www.flickr.com/photos/14804582@N08/2111269218" title="database schema"><img src="https://farm3.staticflickr.com/2129/2111269218_950cf23a03_b.jpg" width="1024" height="953" alt="database schema"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>

But these are not the only kinds of data structuring. Structured data is basically when the organisation of the data is pre-defined so that certain data is associated with certain labels.

<p><a href="https://commons.wikimedia.org/wiki/File:Database_models.jpg#/media/File:Database_models.jpg"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3b/Database_models.jpg/1200px-Database_models.jpg" alt="Database models.jpg"></a><br>By <a href="//commons.wikimedia.org/wiki/User:Mdd" title="User:Mdd">Marcel Douwe Dekker</a> - <span class="int-own-work" lang="en">Own work</span>, <a href="https://creativecommons.org/licenses/by-sa/3.0" title="Creative Commons Attribution-Share Alike 3.0">CC BY-SA 3.0</a>, <a href="https://commons.wikimedia.org/w/index.php?curid=5679857">Link</a></p>

### Working with structured data

We will work with structured data by mostly reading it from a file into a dataframe. One of the most common files for holding structured tabular data is the comma separated value (CSV) file. A spreadsheet table or a database table can be saved as a CSV file, which we can then import into a pandas dataframe. If you'd like more information on Pandas, try the [10 minutes to pandas](https://pandas.pydata.org/docs/getting_started/10min.html) tutorial.

For the following example, we're going to use open data from [data.gov.au](data.gov.au) for [2016 SoE Biodiversity Cumulative historical extinctions of Australian mammal species](https://data.gov.au/data/dataset/2016-soe-biodiversity-cumulative-number-of-extinct-mammal-species). If you're interested, you can read about the data in [Terrestrial plant and animal species: Mammals](https://soe.environment.gov.au/theme/biodiversity/topic/2016/terrestrial-plant-and-animal-species-mammals#biodiversity-figure-BIO19)

In [18]:
# To use pandas, we need to import it (normally as 'pd')
import pandas as pd

# We can then open a CSV file into a new dataframe
url = "https://data.gov.au/dataset/c02731e8-5327-4720-bbc7-1fe67350a569/resource/8339c2b4-c763-4c50-a647-63935537453c/download/cumulative-number-of-extinct-mammal-species.csv"
df = pd.read_csv(url,index_col="Decade")

# view the dataframe
df

        Cumulative number of extinct mammal species
Decade
1790                                              0
1800                                              0
1810                                              0
1820                                              0
1830                                              0
1840                                              1
1850                                              3
1860                                              5
1870                                              7
1880                                              8
1890                                              9
1900                                             14
1910                                             14
1920                                             15
1930                                             18
1940                                             18
1950                                             22
1960                                             24
1970                                             25
1980                                             25
1990                                             25
2000                                             26
2010                                             27

In [19]:
# We can save our dataframe to use later

df.to_csv('data/extinct_aus_mammals.csv')

In [21]:
# The saved version can be loaded in the same way as the original URL

df2 = pd.read_csv('data/extinct_aus_mammals.csv',index_col="Decade")
df2

        Cumulative number of extinct mammal species
Decade
1790                                              0
1800                                              0
1810                                              0
1820                                              0
1830                                              0
1840                                              1
1850                                              3
1860                                              5
1870                                              7
1880                                              8
1890                                              9
1900                                             14
1910                                             14
1920                                             15
1930                                             18
1940                                             18
1950                                             22
1960                                             24
1970                                             25
1980                                             25
1990                                             25
2000                                             26
2010                                             27

### Unstructured data

Humans can make meaning from data without necessarily having pre-defined structure. In fact we frequently use very ill-defined structures to organise and communicate our thinking. We are also adept at creating these kinds of structures as required, in the moment, rather than requiring the data be structured before we can make sense of it.

<p><a href="https://commons.wikimedia.org/wiki/File:Coggle_Document.png#/media/File:Coggle_Document.png"><img src="https://upload.wikimedia.org/wikipedia/commons/1/19/Coggle_Document.png" alt="Coggle Document.png"></a><br>By <a href="https://en.wikipedia.org/wiki/User:Lurched95" class="extiw" title="en:User:Lurched95">User:Lurched95</a>, <a href="https://creativecommons.org/licenses/by-sa/3.0" title="Creative Commons Attribution-Share Alike 3.0">CC BY-SA 3.0</a>, <a href="https://commons.wikimedia.org/w/index.php?curid=33923406">Link</a></p>

Computers are not so adept, so complex in the moment sense-making tasks on unstructured data are often easy for humans but very challenging for computers.

<img src="https://static.boredpanda.com/blog/wp-content/uploads/2016/03/dog-food-comparison-bagel-muffin-lookalike-teenybiscuit-karen-zack-5__700.jpg">

[Puppies or Food (boredpanda.com March 2016)](https://www.boredpanda.com/dog-food-comparison-bagel-muffin-lookalike-teenybiscuit-karen-zack/)

### Kinds of structuring of data

In order for us to perform data analysis on unstructured data, we will usually need to do some structuring of it, and this frequently results in semi-structured data. 

The 3 different kinds of structuring can be summarised as:

* **Structured** $\Rightarrow$ when the structure is pre-defined
* **Structured** $\Rightarrow$ is almost synonymous with 'stored in a RDMS', but can also exist in other software
* **Unstructured** $\leadsto$ when there is no pre-defined structure, or can't easily be conformed to a structure
* **Unstructured** $\leadsto$ commonly raw text, but also images, video, audio
* **Unstructured** $\leadsto$ can appear to have some kind of structure, but often that appearence is derived from our understanding, not from the data itself
* **Semi-structured** $\rightarrow$ the data can be stored in defined structure, but the actual instance of the structure is not predefined

### Semi-structured data

Semi-structured data is a lot more prevalent than structured data, but the computational tools are not as mature as structured data tools. Most semi-structured data tools have come about with the advent of the internet and then social media.

### Working with semi-structured data

We will work with semi-structured data mostly by (a) creating it from plain text which is read from a file, or (b) importing the data from a JSON file.

JSON is a way of labelling data, but without requiring all data to be the same or without requiring the structure to be fixed in advance.

#### Reading plain text files

In [23]:
# Read in a plain text file
with open('data/simple_text_file.txt', 'r') as file:
    text = file.read()

In [24]:
# Show the string that was read from the file
text

'This is a text file with only 2 lines.\nThe second line!'

In [26]:
# We can read the text in a semi-structured format by taking advantage of the lines in the file
with open('data/simple_text_file.txt', 'r') as file:
    text_lines = file.readlines()

In [27]:
# Show the list that was read from the file
text_lines

['This is a text file with only 2 lines.\n', 'The second line!']

In [28]:
# We can also create the list, by splitting the original string
lines = text.split('\n')

# view the list
lines

['This is a text file with only 2 lines.', 'The second line!']

#### Reading JSON

In [33]:
# We need the JSON library
import json

# Read a JSON file like text, but with conversion to python dictionary
with open('data/simple_json_file.json', 'r') as file:
    json_data = json.load(file)

In [34]:
# View the json data
json_data

{'Key 1': 'The first value that goes with Key 1',
 'Second key': 'Json data that goes with the second key',
 '3rd_key': ['This',
  'is',
  'a',
  'json',
  'list',
  'and',
  'value',
  'for',
  '3rd key']}

In [35]:
# You can also load json data from a URL
import requests

# We can load data about the CSV on extinct mammals that we loaded above
mammal_url = "https://data.gov.au/api/3/action/package_show?id=c02731e8-5327-4720-bbc7-1fe67350a569"
content = requests.get(mammal_url)
mammal_data = json.loads(content.content)

In [40]:
# view the result
mammal_data

{'help': 'https://data.gov.au/data/api/3/action/help_show?name=package_show',
 'success': True,
 'result': {'license_title': 'Creative Commons Attribution 4.0 International',
  'maintainer': 'soe',
  'relationships_as_object': [],
  'jurisdiction': 'Commonwealth of Australia',
  'temporal_coverage_to': '2010-00-00',
  'private': False,
  'maintainer_email': None,
  'num_tags': 10,
  'geospatial_topic': [],
  'id': 'c02731e8-5327-4720-bbc7-1fe67350a569',
  'metadata_created': '2016-10-13T05:31:05.905629',
  'spatial_coverage': 'Australia',
  'metadata_modified': '2018-12-21T04:48:53.097284',
  'author': 'CSIRO Publishing',
  'author_email': None,
  'state': 'active',
  'version': None,
  'license_id': 'cc-by-4.0',
  'contact_point': 'soe@environment.gov.au',
  'type': 'dataset',
  'resources': [{'mimetype': None,
    'cache_url': None,
    'hash': '',
    'description': 'Source: Woinarski, JCZ, Burbidge, AA & Harrison PL (2014 edition). The action plan for Australian mammals 2012, CSIRO Publishing, Melbourne.\r\n\r\nNote: The extinction of 3 species—Bettongia pusilla, Conilurus capricornensis and Pseudomys glaucus—cannot be readily and reliably dated, and these are not included in the data.',
    'name': 'BIO19 Cumulative historical extinctions of Australian mammal species',
    'format': 'CSV',
    'url': 'https://data.gov.au/dataset/c02731e8-5327-4720-bbc7-1fe67350a569/resource/8339c2b4-c763-4c50-a647-63935537453c/download/cumulative-number-of-extinct-mammal-species.csv',
    'datastore_active': True,
    'cache_last_updated': None,
    'package_id': 'c02731e8-5327-4720-bbc7-1fe67350a569',
    'created': '2016-10-13T16:31:36.178357',
    'state': 'active',
    'mimetype_inner': None,
    'last_modified': '2016-10-13T05:31:36.058720',
    'position': 0,
    'wms_layer': '',
    'revision_id': 'c28636a1-f456-4973-9fb9-a0ee86261392',
    'url_type': 'upload',
    'id': '8339c2b4-c763-4c50-a647-63935537453c',
    'resource_type': None,
    'size': None}],
  'num_resources': 1,
  'tags': [{'vocabulary_id': None,
    'state': 'active',
    'display_name': '2016',
    'id': '1cdd2af1-833e-411c-8003-485b677d2f4d',
    'name': '2016'},
   {'vocabulary_id': None,
    'state': 'active',
    'display_name': '2016 SoE',
    'id': '662eb96b-dedd-482a-bbed-6fe51a4783cb',
    'name': '2016 SoE'},
   {'vocabulary_id': None,
    'state': 'active',
    'display_name': 'Action Plan for Australian mammals',
    'id': 'ab2fae4a-f38a-46b9-bd3b-f62f2b21aea5',
    'name': 'Action Plan for Australian mammals'},
   {'vocabulary_id': None,
    'state': 'active',
    'display_name': 'Biodiversity',
    'id': '655e233e-355c-4311-b3ac-a06db4a3c237',
    'name': 'Biodiversity'},
   {'vocabulary_id': None,
    'state': 'active',
    'display_name': 'SoE',
    'id': '6752f3e8-9a7a-4ffe-b9e7-9fce46be330f',
    'name': 'SoE'},
   {'vocabulary_id': None,
    'state': 'active',
    'display_name': 'SoE Graph',
    'id': 'ff1d16f8-8dfa-4c65-8bfc-3c5d53e0c385',
    'name': 'SoE Graph'},
   {'vocabulary_id': None,
    'state': 'active',
    'display_name': 'State of the Environment',
    'id': 'bfdd0f69-272e-49a1-b3b9-cabb8f586348',
    'name': 'State of the Environment'},
   {'vocabulary_id': None,
    'state': 'active',
    'display_name': 'extinct',
    'id': 'eef7a30a-2cec-4932-baf4-6ccf8d981b4b',
    'name': 'extinct'},
   {'vocabulary_id': None,
    'state': 'active',
    'display_name': 'mammals',
    'id': '74b1d415-25b1-49f2-9274-b9626838f1c4',
    'name': 'mammals'},
   {'vocabulary_id': None,
    'state': 'active',
    'display_name': 'species',
    'id': '2634e534-e803-4ea8-934d-50f936cf9073',
    'name': 'species'}],
  'temporal_coverage_from': '1780-00-00',
  'language': 'English',
  'groups': [],
  'creator_user_id': 'dd537e79-7dfd-4a78-9110-8a42785bad1a',
  'relationships_as_subject': [],
  'field_of_research': [],
  'organization': {'description': '',
   'created': '2016-01-21T17:05:45.618925',
   'title': 'State of the Environment',
   'name': 'state-of-the-environment',
   'is_organization': True,
   'state': 'active',
   'image_url': '2017-01-25-001455.510982SOE2016LogoColour.png',
   'revision_id': 'cad58d18-15cb-44ce-abc1-68e7bc51aef6',
   'type': 'organization',
   'id': 'c416b1b6-1ea1-47c3-b44a-b4586bee6e58',
   'approval_status': 'approved'},
  'name': '2016-soe-biodiversity-cumulative-number-of-extinct-mammal-species',
  'isopen': True,
  'url': None,
  'notes': 'Data on cumulative historical extinctions of Australian mammal species - according to the Action Plan for Australian Mammals (2014 edition) by John Woinarksi, Andrew Burbidge and Peter Harrison. CSIRO Publishing.\r\n\r\nThis data was used by the Department of Environment and Energy to produce Figure BIO19 in the Biodiversity theme of Australia State of the Environment 2016, available at \r\nhttps://soe.environment.gov.au/theme/biodiversity/topic/2016/terrestrial-plant-and-animal-species-mammals#biodiversity-figure-BIO19\r\n',
  'owner_org': 'c416b1b6-1ea1-47c3-b44a-b4586bee6e58',
  'license_url': 'http://creativecommons.org/licenses/by/4.0',
  'data_state': 'active',
  'title': '2016 SoE Biodiversity Cumulative historical extinctions of Australian mammal species',
  'revision_id': '2163f2db-d3b8-42c8-af28-d5f303993c02',
  'update_freq': 'infrequently'}}

In [41]:
# since the result is a dictionary, we can the value for one particular key
mammal_data["result"]["notes"]

'Data on cumulative historical extinctions of Australian mammal species - according to the Action Plan for Australian Mammals (2014 edition) by John Woinarksi, Andrew Burbidge and Peter Harrison. CSIRO Publishing.\r\n\r\nThis data was used by the Department of Environment and Energy to produce Figure BIO19 in the Biodiversity theme of Australia State of the Environment 2016, available at \r\nhttps://soe.environment.gov.au/theme/biodiversity/topic/2016/terrestrial-plant-and-animal-species-mammals#biodiversity-figure-BIO19\r\n'

In [45]:
# we can take this data and structure it further

notes = mammal_data["result"]["notes"]
struct_notes = notes.split('\r\n')
for note in struct_notes:
    print(note)

Data on cumulative historical extinctions of Australian mammal species - according to the Action Plan for Australian Mammals (2014 edition) by John Woinarksi, Andrew Burbidge and Peter Harrison. CSIRO Publishing.

This data was used by the Department of Environment and Energy to produce Figure BIO19 in the Biodiversity theme of Australia State of the Environment 2016, available at
https://soe.environment.gov.au/theme/biodiversity/topic/2016/terrestrial-plant-and-animal-species-mammals#biodiversity-figure-BIO19